body {
  background-image: url('./assets/las_vegas.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.section {
  background-color: rgba(0, 200, 0, 0.5);
  border-radius: 1rem;
  margin: 2rem 1rem 2rem 1rem;
}

/* bank */
.bank{
  flex: 20%;
}
#black-chip {
  width: 5.5rem;
}
#blue-chip {
  width: 5.3rem;
}
#red-chip {
  width: 5.8rem;
}
#chips {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chip:hover {
  cursor: pointer;
}
.chip {
  margin: .5rem;
  opacity: 1;
}
#bet-label {
  margin: 1rem;
  text-align: center;
  opacity: 1;
}
#balance {
  margin: 1rem;
  text-align: center;
}
.chip-container .textbubble {
  visibility: hidden;
  background-color: grey;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}
.chip-container:hover .textbubble {
  visibility: visible;
  opacity: 1;
}




/* board */
#board {
  flex: 60%;
}
.header {
  text-align: center;
}
#dealer-hand, #player-hand {
  height: 40%;
}
.card {
  animation: deal-card 1s forwards;
  background-color: white;
  border-radius: 4%;
  height: 100%;
  width: 90px;
  box-shadow: 5px 5px 3px 3px;
  border: 2px outset;
}
.cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.back {
  height: 128px;
  width: auto;
  animation: deal-card 1s forwards;
  background-color: white;
  border-radius: 4%;
  box-shadow: 5px 5px 3px 3px;
  border: 2px outset;
}





/* buttons */
#buttons {
  flex: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  visibility: hidden;
  opacity: 0;
}
button {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}
button:hover {
  cursor: pointer;
}



/* animations */
@keyframes deal-card {
  0% {
    transform: translateX(-200px) rotate(-90deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}